<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Socket IO Connect</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" href="./style.css">
  <!-- import stylesheet -->
  <link rel="stylesheet" href="https://unpkg.com/view-design/dist/styles/iview.css">

  <script src="https://cdn.bootcss.com/rem/1.3.4/js/rem.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- import iView -->
  <script src="https://unpkg.com/view-design/dist/iview.min.js"></script>
  <script src="https://cdn.bootcss.com/socket.io/2.3.0/socket.io.js"></script>
  <script src="https://cdn.bootcss.com/socket.io-stream/0.9.1/socket.io-stream.min.js"></script>
</head>

<body>
  <div id="app">
    <div class="container">
      <i-input style="width: 220px;" ref='nameInput' :value="penguinName" :disabled='!editMode'>
        <p slot="prepend" style="width: 32px">名称</p>
      </i-input>
      <div class="btn-group">
        <i-button v-if='editMode' :disabled='penguinName.length === 0' type='primary' @click='savePenguinName'>保存</i-button>
        <i-button v-if='editMode' type='error' @click='cancelEdit(false)'>取消</i-button>
        <i-button v-else type="primary" @click='toggleEdit(true)'>修改名称</i-button>
      </div>
    </div>
    <div v-if="imgUrl">
      <img class="upload-image" :src="imgUrl" />
    </div>
  </div>
</body>
<!-- notice the "../resources_" here. It's because webview.js will be compiled in a different folder with the prefix. -->
<script src='../resources_webview.js'></script>

</html>